<!-- views/partials/navbar.ejs -->
<nav style="padding-top:50px">
    <ul style="list-style-type: none; margin: 0; padding: 20px 0px 20px 200px ; display: flex; background-color: #19e7cc; font-family:Verdana, Geneva, Tahoma, sans-serif;"  >
        <li style="margin-right: 50px;">
            <a href="/" style="color: white; text-decoration: none;">Inicio</a>
        </li>
        <li style="margin-right: 50px;">
            <a href="/catalogo" style="color: white; text-decoration: none;">Adoptar</a>
        </li>
        <li style="margin-right: 50px;">
            <a href="/registro" style="color: white; text-decoration: none;">Registra un Peludo</a>
        </li>
        <li style="margin-right: 50px;">
            <a href="QUIENES SOMOS" style="color: white; text-decoration: none;">Quienes Somos</a>
        </li>
        <li>
            <a href="CONTACTANOS" style="color: white; text-decoration: none;">Contactanos</a>
        </li>
    </ul>
</nav>
